@page "/MapMethods"



<div style="width: 100%; height: 500px;" @ref="MapHost">
</div>

<div>
    <div style="display: inline-block;">
        <div>
            <button @onclick="SetCenterClick">Set Center</button>
            <span>Lat:</span><input @bind-value="CenterLat" />
            <span>Lng:</span><input @bind-value="CenterLng" />
        </div>

        <div>
            <button @onclick="PanToClick">PanTo</button>
            <span>Lat:</span><input @bind-value="PanLat" />
            <span>Lng:</span><input @bind-value="PanLng" />
        </div>

        <div>
            <button @onclick="ZoomToClick">Zoom</button>
            <span>Zoom:</span><input @bind-value="Zoom" />
        </div>
        <div>
            <button @onclick="GetCenterClick">Get Center</button>
            <span>Center:</span>
            <span>ne: @this.Center.Latitude @this.Center.Longitude</span>
        </div>
        <div>
            <button @onclick="GetBoundsClick">Get Bounds</button>
            <span>Bounds:</span>
            <span>ne: @this.Bounds.NorthEast.Latitude @this.Bounds.NorthEast.Longitude</span>
            <span>sw: @this.Bounds.SouthWest.Latitude @this.Bounds.SouthWest.Longitude</span>
        </div>
        <div>
            <button @onclick="FitToBoundsClick">Fit Bounds</button>
            <span>Fit to bounds:</span>
            <span>Lat:</span><input @bind-value="FitToBoundsLat" />
            <span>Lng:</span><input @bind-value="FitToBoundsLng" />
        </div>
    </div>

    <div class="map-event-log">
        @foreach (var l in MapLog.Reverse<string>())
        {
            <span>@l</span><br />
        }
    </div>
</div>
